.container
  .col-xs-12
    = simple_form_for @fabric, url: fabric_form_part2_path, method: :put do |f|
      = f.simple_fields_for :chancel do |chancel_form|
        = render partial: "chancels/fields", locals: {chancel_form: chancel_form}

      = f.simple_fields_for :altar do |altar_form|
        = render partial: "altars/fields", locals: {altar_form: altar_form}
      
      = f.simple_fields_for :sedilia do |sedilia_form|
        = render partial: "sedilias/fields", locals: {sedilia_form: sedilia_form}    
    
      = f.simple_fields_for :piscina do |piscina_form|
        = render partial: "piscinas/fields", locals: {piscina_form: piscina_form}
      
      = f.simple_fields_for :chantry_chapels do |chantry_chapel|
        = render partial: 'chantry_chapels/fields', locals: {f: chantry_chapel}
      .links
        = link_to_add_association 'add chantry chapel', f, :chantry_chapels, partial: 'chantry_chapels/fields'
          
      .btn.btn-primary
        = f.submit 'Submit'