.container
  .col-xs-12
    = simple_form_for @fabric, url: fabric_form_part1_path, method: :put do |f|
      %strong Select Style(s):
      =f.collection_check_boxes(:styles, Style.all, :name, :name, include_hidden: false) do |style|
        .checkbox-inline
          = style.check_box + style.text
      
      = f.simple_fields_for :nave do |nave_form|
        = render partial: "naves/fields", locals: {nave_form: nave_form}
        
      = f.simple_fields_for :towers do |tower|
        = render partial: 'towers/fields', locals: {f: tower}
      .links
        = link_to_add_association 'add tower', f, :towers, partial: 'towers/fields'
        
      = f.simple_fields_for :doors do |door|
        = render partial: 'doors/fields', locals: {f: door}
      .links
        = link_to_add_association 'add door', f, :doors, partial: 'doors/fields'
      
      = f.simple_fields_for :porch do |porch_form|
        = render partial: "porches/fields", locals: {porch_form: porch_form}  
      
      .btn.btn-primary
        = f.submit 'Submit'