.container
  .col-xs-12
    = form_for [@church, @fabric] do |f|
      %strong Select Style(s):
      =f.collection_check_boxes(:styles, Style.all, :name, :name, include_hidden: false) do |style|
        .checkbox-inline
          = style.check_box + style.text
      
      = f.simple_fields_for :nave do |nave_form|
        = render partial: "naves/form", locals: {nave_form: nave_form}
        
      = f. 

      = f.simple_fields_for :alter do |alter_form|
        %h4
          .label.label-warning Add Alter Information:
        .alter
          = alter_form.input :medieval_alter, ladel: 'Medieval Alter?',  as: :select
          = alter_form.input :date, collection: @date_ranges, prompt: "Select Date"
          = alter_form.input :date_secured, label: 'Date Secured?',  as: :select
          = alter_form.input :date_information
          = alter_form.input :location_in_chancel
        
        = f.simple_fields_for :chancel do |chancel_form|
          %h4
            .label.label-warning Add Chancel Information:
          .chancel
            = chancel_form.input :date, collection: @date_ranges, prompt: "Select Date"
            = chancel_form.input :date_secured, label: 'Date Secured?', as: :select
            = chancel_form.input :date_information
            = chancel_form.collection_check_boxes(:styles, Style.all, :name, :name, include_hidden: false) do |style|
              .checkbox-inline
                = style.check_box + style.text
            = chancel_form.input :chancel_arch_description
        = f.button("submit", class: "btn btn-primary")