%div
= "Altar #{num + 1}"

%div
Medival Altar?
= altar.medieval_altar

%div
Date:
= altar.date

%div
Date Secured? 
= altar.date_secured

%div
Information on Date:
= altar.date_evidence
  
%div
Location:
= altar.location_in_chancel
  
%div
Notes:
= altar.notes