.altar
  .nested-fields
    .label.label-warning Add Altar Information:
    = f.input :medieval_altar, ladel: 'Medieval Altar?',  as: :select
    = f.input :date, collection: @date_ranges, prompt: "Select Date"
    = f.input :date_secured, label: 'Date Secured?',  as: :select
    = f.input :date_evidence
    = f.input :location_in_chancel
    = f.input :notes
    = link_to_remove_association "remove altar", f