.container
  .col-xs-12
    = simple_form_for @church do |f|
      = f.input :name
      = f.input :town
      = f.input :buildings_of_england_volume, collection: @volume_options, prompt: "Select Buildings of England Volume"
      = f.input :county, collection: @county_options, prompt: "Select County"
      = f.input :diocese, collection: @dioceses_options, prompt: "Select Diocese"
      = f.input :archdeaconry
      = f.input :latitude
      = f.input :longitude
      = f.input :minster_status, as: :select
      = f.input :minster_current_status, as: :select
      = f.input :collegiate_status, as: :select
      = f.input :collegiate_date
      = f.input :first_mentioned_in_text
      = f.input :first_mentioned_in_text_explanation
      = f.input :earliest_extant_fabric_date, collection: @date_ranges, prompt: "Select Date"
      = f.input :earliest_extant_fabric_date_secured, label: 'Date Secured?', as: :select
      = f.input :earliest_extant_fabric_date_evidence
      = f.input :earliest_extant_fabric_location
      = f.input :general_comments
    
      = f.button :submit, 'Save/Next-Add Fabric', class:"btn btn-success"