= render partial: "attributes", locals: {church: @church}
 
- if @church.fabric.present?
  %h2= @church.name.capitalize + " Fabric"
  Styles: 
  - @church.fabric.styles.each do |style|
    %div
    = style

- if @church.fabric.nave.present?
  %h3 Nave
  = render partial: "naves/attributes", locals: {church: @church}
 
- if @church.fabric.altar.present?
  %h3 Altar
  %div  
  = render partial: "altars/attributes", locals: {church: @church}

- if @church.fabric.chancel.present?
  %h3 Chancel
  %div 
  = render partial: "chancels/attributes", locals: {church: @church}

- if @church.fabric.towers.present?
  %h3 Towers
  - @church.fabric.towers.each_with_index do |tower, num|                
    %div  
    = render partial: "towers/attributes", locals: {tower: tower, num: num}
  
- if @church.fabric.chantry_chapels.present?
  %h3 Chantry Chapels 
  - @church.fabric.chantry_chapels.each_with_index do |chantry_chapel, num|     
    %div  
    = render partial: "chantry_chapels/attributes", locals: {chantry_chapel: chantry_chapel, num: num}

- if @church.fabric.doors.present?
  %h3 Doors
  - @church.fabric.doors.each_with_index do |door, num|                
    %div  
    = render partial: "doors/attributes", locals: {door: door, num: num}