%h1= @church.name.capitalize

%div
Town:
= @church.town

%div
County:
= @church.county

%div
Building of England Volume:
= @church.buildings_of_england_volume

%div
Diocese:
= @church.diocese

%div
Archdeaconry:
= @church.archdeaconry

%div
Longitude:
= @church.longitude

%div
latitude:
= @church.latitude
  
%div
Minster Status: 
= @church.minster_status

%div
Minster Current Status: 
= @church.minster_current_status

%div
Collegiate Status: 
= @church.collegiate_status

%div
Collegiate Date: 
= @church.collegiate_date

%div
Date First Mentioned in Text:
= @church.first_mentioned_in_text

%div
First Mentioned in Text Information: 
= @church.first_mentioned_in_text_information

%div
Earliest Extant Fabric Date:
= @church.earliest_extant_fabric_date

%div
Date Secured: 
= @church.earliest_extant_fabric_date_secured

%div
Information on Earliest Extant Fabrtic Date:
= @church.earliest_extant_fabric_date_information

%div
Location of Earliest Extant Fabrtic Date:
= @church.earliest_extant_fabric_location

%div
General Notes:
= @church.general_notes

- if @church.fabric.nave.present?
  %h2= @church.name.capitalize + " Fabric"
  Styles: 
  = @church.fabric.styles
  
  %h3 Nave
  %div
  Date:
  = @church.fabric.nave.date

  %div
  Date Secured? 
  = @church.fabric.nave.date_secured

  %div
  Information on Date:
  = @church.fabric.nave.date_information
  
  %div
  Styles:
  = @church.fabric.nave.styles
  
  %div
  General Notes: 
  = @church.fabric.nave.general_notes
 
- if @church.fabric.alter.present?
  %h3 Alter

  %div
  Medival Alter?
  = @church.fabric.alter.medieval_alter

  %div
  Date:
  = @church.fabric.alter.date

  %div
  Date Secured? 
  = @church.fabric.alter.date_secured

  %div
  Information on Date:
  = @church.fabric.alter.date_information
    
  %div
  Location:
  = @church.fabric.alter.location_in_chancel

- if @church.fabric.chancel.present?
  %h3 Chancel
  
  %div
  Date:
  = @church.fabric.chancel.date

  %div
  Date Secured? 
  = @church.fabric.chancel.date_secured

  %div
  Information on Date:
  = @church.fabric.chancel.date_information
    
  %div
  Location:
  = @church.fabric.chancel.chancel_arch_description
  
  %div
  Styles:
  = @church.fabric.chancel.styles

- if @church.fabric.towers.present?
  %h3 Towers
  - @church.fabric.towers.each do |tower|                
    = "Tower #{tower.id}"
    %div
    = tower.location
    %div
    = tower.date
    %div
    = tower.date_secured
    %div
    = tower.date_information

  
  