= render partial: "attributes", locals: {church: @church}
 
- if @church.fabric.present?
  %h2= @church.name.capitalize + " Fabric"
  Styles: 
  - @church.fabric.styles.each do |style|
    %div
    = style

- if @church.fabric.nave.present?
  %h3 Nave
  = render partial: "naves/attributes", locals: {church: @church}
 
- if @church.fabric.altars.present?
  %h3 Altar
  - @church.fabric.altars.each_with_index do |altar, num|                
    %div  
    = render partial: "altars/attributes", locals: {altar: altar, num: num}

- if @church.fabric.chancel.present?
  %h3 Chancel
  %div 
  = render partial: "chancels/attributes", locals: {church: @church}

- if @church.fabric.towers.present?
  %h3 Towers
  - @church.fabric.towers.each_with_index do |tower, num|                
    %div  
    = render partial: "towers/attributes", locals: {tower: tower, num: num}
  
- if @church.fabric.chantry_chapels.present?
  %h3 Chantry Chapels 
  - @church.fabric.chantry_chapels.each_with_index do |chantry_chapel, num|     
    %div  
    = render partial: "chantry_chapels/attributes", locals: {chantry_chapel: chantry_chapel, num: num}

- if @church.fabric.doors.present?
  %h3 Doors
  - @church.fabric.doors.each_with_index do |door, num|                
    %div  
    = render partial: "doors/attributes", locals: {door: door, num: num}

- if @church.fabric.porch.present?
  %h3 Porch
  %div  
  = render partial: "porches/attributes", locals: {church: @church}
  
- if @church.fabric.sedilia.present?
  %h3 Sedilia
  = render partial: "sedilias/attributes", locals: {church: @church}

- if @church.fabric.piscina.present?
  %h3 Piscina
  = render partial: "piscinas/attributes", locals: {church: @church}

- if @church.fabric.font.present?
  %h3 Font
  = render partial: "fonts/attributes", locals: {church: @church}
  
- if @church.fabric.screen.present?
  %h3 Screen
  = render partial: "screens/attributes", locals: {church: @church}

- if @church.fabric.transept.present?
  %h3 Transept
  = render partial: "transepts/attributes", locals: {church: @church}
  
- if @church.fabric.lady_chapel.present?
  %h3 Lady Chapel
  = render partial: "lady_chapels/attributes", locals: {church: @church}