%h4
  .label.label-warning Add Tower Information:
.tower
  .nested-fields
    = f.input :location
    = f.input :date, collection: @date_ranges, prompt: "Select Date"
    = f.input :date_secured, label: 'Date Secured?', as: :select
    = f.input :date_evidence
    = f.input :notes
    = link_to_remove_association "remove tower", f