%div
= "Chantry Chapel #{num + 1}"
%div
Location:
= chantry_chapel.location
%div
Date:
= chantry_chapel.date
%div
Date Secured?
= chantry_chapel.date_secured
%div
Date Evidence:
= chantry_chapel.date_evidence
%div
Styles:
- chantry_chapel.styles.each do |style|
  %div
  = style
%div
Funding Information:
= chantry_chapel.funding_information
%div
Notes:
= chantry_chapel.notes  