%h4
  .label.label-warning Add Nave Information:
.nave
  %strong Select Style(s):
  = nave_form.collection_check_boxes(:styles, Style.all, :name, :name, include_hidden: false) do |style|
    .checkbox-inline
      = style.check_box + style.text
  = nave_form.input :date, collection: @date_ranges, prompt: "Select Date"
  = nave_form.input :date_secured, label: 'Date Secured?', as: :select
  = nave_form.input :date_evidence
  = nave_form.input :notes