%div
Date:
= @church.fabric.piscina.date

%div
Date Secured? 
= @church.fabric.piscina.date_secured

%div
Information on Date:
= @church.fabric.piscina.date_evidence
  
%div
Location:
= @church.fabric.piscina.location
  
%div
Notes:
= @church.fabric.piscina.notes