%div
Location:
= @church.fabric.porch.location

%div
Date:
= @church.fabric.porch.date

%div
Date Secured? 
= @church.fabric.porch.date_secured

%div
Information on Date:
= @church.fabric.porch.date_evidence
  
%div
Vaulting?
= @church.fabric.porch.vaulting
  
%div
Vaulting?
= @church.fabric.porch.vaulting_type
  
%div
Notes:
= @church.fabric.porch.notes