%h4
  .label.label-warning Add Porch Information:
.porch
  = porch_form.input :location
  = porch_form.input :date, collection: @date_ranges, prompt: "Select Date"
  = porch_form.input :date_secured, label: 'Date Secured?',  as: :select
  = porch_form.input :date_evidence
  = porch_form.input :vaulting, ladel: 'Vaulting?',  as: :select
  = porch_form.input :vaulting_type
  = porch_form.input :notes