%div
South side?
= @church.fabric.transept.south_side

%div
South side date:
= @church.fabric.transept.south_side_date
  
%div
South side date secured?
= @church.fabric.transept.south_side_date_secured

%div
South side date evidence:
= @church.fabric.transept.south_side_date_evidence

%div
South side aisled?
= @church.fabric.transept.south_side_aisled

%div
South side notes?
= @church.fabric.transept.south_side_notes

%div
North side?
= @church.fabric.transept.north_side

%div
North side date:
= @church.fabric.transept.north_side_date

%div
North side date secured?
= @church.fabric.transept.north_side_date_secured

%div
North side date evidence:
= @church.fabric.transept.north_side_date_evidence
  
%div
North side aisled? 
= @church.fabric.transept.north_side_aisled

%div
North side notes:
= @church.fabric.transept.north_side_notes