%div
South side?
= @church.fabric.transept.south_side

%div
South side?
= @church.fabric.transept.south_side_date
  
%div
South side?
= @church.fabric.transept.south_side_date_secured

%div
South side?
= @church.fabric.transept.south_side_date_evidence

%div
South side?
= @church.fabric.transept.south_side_aisled

%div
South side?
= @church.fabric.transept.south_side_notes

%div
South side?
= @church.fabric.transept.north_side

%div
South side?
= @church.fabric.transept.north_side_date

%div
South side?
= @church.fabric.transept.north_side_date_secured

%div
South side?
= @church.fabric.transept.north_side_date_evidence
  
%div
South side?
= @church.fabric.transept.north_side_aisled

%div
South side?
= @church.fabric.transept.north_side_notes