%div
Date:
= @church.fabric.font.date

%div
Date Secured? 
= @church.fabric.font.date_secured

%div
Information on Date:
= @church.fabric.font.date_evidence
  
%div
Location:
= @church.fabric.font.location
  
%div
Notes:
= @church.fabric.font.notes